{% extends "_formbase.html" %}

{% block form_contents %}
  {% if app_domain -%}
  <table class="rpxnow">
    <tr>
      <td width="100%" style="vertical-align: top;">
  {% endif %}
        {{ form.hidden_tag() }}
        {{ render_field(form.username, {'size': 20}) }}
        {{ render_field(form.password, {'size': 20}) }}
        {{ render_field(form.remember_me, {'size': 20}) }}
  {% if app_domain -%}
      </td>
      <td width="400">
        <iframe src="http://ilog.rpxnow.com/openid/embed?token_url={{ token_url }}&language_preference={{ config.get("BABEL_DEFAULT_LOCALE", "en") }}"
                scrolling="no" frameBorder="no" allowtransparency="true"></iframe>
      </td>
    </tr>
  </table>
  {% endif %}
{% endblock %}
{% block form_actions %}
  <input class="ui-button" type="submit" value="{{ _('Authenticate') }}">
{% endblock %}
