{% extends "admin/_formbase.html" %}
{% from "_form_helpers.html" import render_field %}

{% block form_contents %}
  {% if form.name.errors %}
  {{ render_field(form.name, {'size': 20}) }}
  {% endif %}
  {{ render_field(form.host, {'size': 20}) }}
  {{ render_field(form.port, {'size': 6}) }}
  {{ form.encoding() }}
  {{ form.motd() }}
  <div class="flash-message ui-state-highlight ui-corner-all">
    <p>
      <strong>{% trans %}Note:{% endtrans %}</strong>
      {% trans %}An attempt to connect to the network will be made and this can,
      at some times, take up to 30 seconds.{% endtrans %}
    </p>
  </div>
{% endblock %}
{% block form_actions %}
  <input class="ui-button" type="submit" value="{{ _('Add') }}">
  <input class="ui-button sensible" name="cancel" type="submit" value="{{ _('Cancel') }}">
{% endblock %}
