{% extends "admin/_formbase.html" %}
{% from "_form_helpers.html" import render_field %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='irc-formatting.css') }}">
{% endblock %}

{% block form_contents %}
  {{ render_field(form.name, {'size': 20}) }}
  {{ render_field(form.host, {'size': 20}) }}
  {{ render_field(form.port, {'size': 6}) }}
  {{ render_field(form.slug, {'size': 20}) }}
  {{ render_field(form.encoding, {'size': 20}) }}
  {% if form.db_entry.motd %}
  <fieldset class="ui-corner-all motd">
    <legend>MOTD</legend>
    <pre>{{ form.db_entry.motd.motd | ircformat }}</pre>
    <p>Last updated on: {{ form.db_entry.motd.updated_on | datetimeformat }}</p>
  </fieldset>
  {% endif %}
  <div class="flash-message ui-state-highlight ui-corner-all">
    <p>
      <strong>{% trans %}Note:{% endtrans %}</strong>
      {% trans %}An attempt to connect to the network will be made and this can,
      at some times, take up to 30 seconds.{% endtrans %}
    </p>
  </div>
{% endblock %}
{% block form_actions %}
  <input class="ui-button" type="submit" value="{{ _('Update') }}">
  <input class="ui-button" name="cancel" type="submit" value="{{ _('Cancel') }}">
  <input class="ui-button sensible" name="delete" type="submit" value="{{ _('Delete') }}">
{% endblock %}
