{% extends "admin/layout.html" %}
{% from "_form_helpers.html" import render_pagination %}

{% block admin_title %}{% trans %}Networks Listing{% endtrans %}{% endblock %}

{% block contents %}
  {% if pagination.items %}
    <table class="listing ui-corner-all" width="100%">
      <thead>
        <tr class="ui-state-default">
          <th>{% trans %}Name{% endtrans %}</th>
          <th>{% trans %}Address{% endtrans %}</th>
          <th class="small">{% trans %}Port{% endtrans %}</th>
          <th class="small">{% trans %}Slug{% endtrans %}</th>
          <th class="small">{% trans %}Channels{% endtrans %}</th>
          <th class="small">{% trans %}Created On{% endtrans %}</th>
          <th class="small">{% trans %}Created By{% endtrans %}</th>
          <th class="small actions">{% trans %}Actions{% endtrans %}</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in pagination.items %}
        <tr class="{{ loop.cycle('odd', 'even') }}">
          <td>{{ entry.name }}</td>
          <td>{{ entry.host }}</td>
          <td class="small center">{{ entry.port }}</td>
          <td class="small center">{{ entry.slug }}</td>
          <td class="small center actions">{{ entry.channels.count() }}</td>
          <td class="small center">{{ entry.created_on|datetimeformat }}</td>
          <td class="small center">{{ entry.created_by.username }}</td>
          <td class="actions">
            {% if entry.id in own_networks -%}
            <a class="edit" alt="{{ _('Edit') }}" title="{{ _('Edit') }}"
               href="{{ url_for('admin.networks.edit', slug=entry.slug) }}"></a>
            {% endif %}
            {% if is_admin %}
            <a class="delete" alt="{{ _('Delete') }}" title="{{ _('Delete') }}"
               href="{{ url_for('admin.networks.delete', slug=entry.slug) }}"></a>
            {%- endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {{ render_pagination(pagination, 'admin.networks.index') }}
  {% else %}
    <p>{% trans %}No networks available{% endtrans %}</p>
  {% endif %}
{% endblock %}
{% block footer %}
  <script type="text/javascript">
    $(document).ready(function() {
      $("td.actions>a.edit").button({text: false, icons: {primary: "ui-icon-pencil"}});
      $("td.actions>a.delete").button({text: false, icons: {primary: "ui-icon-trash"}});
    })
  </script>
{% endblock %}
