{% extends "admin/_formbase.html" %}
{% from "_form_helpers.html" import render_field %}

{% block form_contents %}
  {{ render_field(form.name, {'size': 20}) }}
  {{ render_field(form.host, {'size': 20}) }}
  {{ render_field(form.port, {'size': 6}) }}
  {{ render_field(form.slug, {'size': 20}) }}
{% endblock %}
{% block form_actions %}
  <input class="ui-button" type="submit" value="{{ _('Update') }}">
  <input class="ui-button" name="cancel" type="submit" value="{{ _('Cancel') }}">
  <input class="ui-button sensible" name="delete" type="submit" value="{{ _('Delete') }}">
{% endblock %}
