
{% macro render_field(field, options={}, show_description=True) %}
  <fieldset class="ui-corner-all">
  <legend>{% if field.label %}<label for="{{ field.id }}">{{ field.label }}</label>{% endif %}</legend>
  {{ field(class_=' '.join(['ui-widget', 'ui-widget-content', 'ui-corner-all', options.pop('class_', ''), options.pop('class', ''), (field.errors and 'error' or '')]).strip(), **options) }}
  {% if field.description and show_description %}
    {% if field.widget.input_type != 'checkbox' %}<br/>{% endif -%}
    <span class="help">{{ field.description }}</span>
  {% endif %}
  </fieldset>
{% endmacro %}

{% macro render_disabled_input(field, options={}, show_description=True) %}
  <fieldset class="ui-corner-all">
  <legend>{% if field.label %}<label for="{{ field.id }}">{{ field.label }}</label>{% endif %}</legend>
  <input size="20" name="{{ field.id }}" value="{{ field._value() }}" disabled="disabled"/>
  {% if field.description %}
    {% if field.widget.input_type != 'checkbox' %}<br/>{% endif -%}
    <span class="help">{{ field.description }}</span>
  {% endif %}
  {% if field.errors %}
    <span class="error">{% for error in field.errors -%}{{ error }}&nbsp;{% endfor %}</span>
  {% endif %}
  </fieldset>
{% endmacro %}

{% macro render_pagination(pagination, endpoint) %}
{% if pagination.required %}
  <div class="pagination">
  {% if pagination.has_prev -%}
  <a class="prev" href="{{ url_for(endpoint, page=pagination.prev_num) }}">
    {%- trans %}Previous{% endtrans -%}
  </a>
  {% else %}
  <span class="prev ui-state-disabled">
    {%- trans %}Previous{% endtrans -%}
  </span>
  {%- endif %}
  {%- for page in pagination.iter_pages() %}
    {% if page -%}
      {%- if page != pagination.page -%}
        <a class="ui-state-default" href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
      {% else -%}
        <span class="ui-state-disabled ui-button ui-widget ui-button-text-only">{{ page }}</span>
      {% endif %}
    {% else -%}
      <strong></string><span class="ellipsis ui-state-disabled ui-button ui-widget ui-button-text-only">…</span></strong>
    {% endif %}
  {%- endfor %}
  {% if pagination.has_next -%}
  <a class="next" href="{{ url_for(endpoint, page=pagination.next_num) }}">
    {%- trans %}Next{% endtrans -%}
  </a>
  {%- endif %}
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      var disabled = $("div.pagination>.ui-state-disabled:not(.ellipsis)");
      $(disabled).button();
      $("div.pagination").buttonset();
      $("div.pagination>.next").button(
        "option", "icons", {primary: null, secondary: "ui-icon-arrowthick-1-e"}
      );
      $("div.pagination>.prev").button(
        "option", "icons", {primary: "ui-icon-arrowthick-1-w", secondary: null }
      );
      $(disabled).button("option", "disabled", true);
    })
  </script>
{% endif %}
{% endmacro %}
