@font-face {
  font-family: "Arktitech";
  src: url(fonts/Arkitech-Light.otf);
}

@font-face {
  font-family: "Gputeks Regular";
  src: url(fonts/Gputeks-Regular.ttf);
}

@font-face {
  font-family: "Gputeks Bold";
  src: url(fonts/Gputeks-Bold.ttf);
}

@font-face {
  font-family: "Neogray";
  src: url(fonts/Neogrey-Regular.otf);
}

@font-face {
  font-family: "V5 Prophit Black";
  src: url(fonts/V5-Prophit-Black.ttf);
}

@mixin initial_html_and_body {
  margin: 0px;
  padding: 0px;
  font-family: "Gputeks Regular";
  font-size: 13px;
  height: 100%;
}

.ui-selectmenu { white-space: nowrap; }

html {
  @include initial_html_and_body;
}

body {
  @include initial_html_and_body;
}


a, a:visited, .ui-widget-content a, .ui-widget-header a, .ui-widget-header a:visited {
  text-decoration: none;
}

a:hover, .ui-state-default a:hover {
  color: #5f91ae;
}


#container {
  padding: 0;
  margin: 0;
  min-height: 100%;
  position: relative;
}

#body-wrapper {
  margin: 0;
  padding: 0 10px 30px 10px;
  position: relative;
}

#footer-wrapper {
  position: absolute;
  bottom: 0;
  padding: 0;
  width: 100%;
  margin: 0;
  height: 18px;

  #footer {
    padding: 0px;
    font-family: "Gputeks Regular";
    font-size: 11px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: normal;
    width: 96%;
    margin-top: -1px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: none;
  }
}

#header-logo {
  margin-top: 5px;
  margin-left: 15px;

  span.name {
    font-family: "V5 Prophit Black";
    font-size: 26px;
    text-shadow: 2px 2px 3px #777;
    color: #444;
    letter-spacing: 2px;
  }

  span.counter {
    width: 100%;
    font-size: 12px;
    font-family: "Gputeks Bold";
    color: #565656;
    text-shadow: 2px 2px 3px #888;

    #counter {
      letter-spacing: 2px;
    }
  }
}

#account-nav {
  float: right;
  position: absolute;
  height: 25px;
  right: 70px;
  top: -5px;
  font-size: 11px;
  padding: 1px 5px 3px 5px;
  text-shadow: 1px 1px 1px #666;
  -moz-box-shadow: 3px 3px 10px #888888;
  -webkit-box-shadow: 3px 3px 10px #888888;
  box-shadow: 3px 3px 10px #888888;

  a, a:visited {
    color: #000;
  }

  ul {
    display: inline;
    margin: 0;
    padding: 0px;

    li {
      display: inline;
      list-style-type: none;
      margin: 0;
      background: url("nav-ruler.png") no-repeat scroll 0 50% transparent;
      padding: 2px 0 0 9px;
      vertical-align: middle;
      height: 24px;
    }

    li.first {
      background: none;
      padding-left: 0;
    }
    li.first img {
      margin: 2px 0 -4px 0;
      padding: 0;
    }
    li.active a {
      color: #62869c;
    }
  }
}

#nav.ui-buttonset .ui-button, #ctxnav.ui-buttonset .ui-button {
  margin-right: -0.7em;
  text-shadow: 1px 1px 1px #444;
}

@mixin navigation_items {
  padding: 3px 4px;
  text-shadow: 1px 1px 1px #999999;

  .ui-widget { font-family: "Gputeks Regular"; }
  .ui-button-text-only .ui-button-text { padding: 0.3em 0.7em; }

}

@mixin drop-shadow {
  -moz-box-shadow: 1px 6px 10px #888888;
  -webkit-box-shadow: 1px 6px 10px #888888;
  box-shadow: 1px 6px 10px #888888;
}

#nav {
  @include navigation_items;
  margin: 10px 15px 0 10px;
  .ui-widget { font-size: 12px; }

  @include drop-shadow;

  ul {
    display: inline;
    margin: 0;
    padding: 0px;

    li {
      display: inline;
      list-style-type: none;
      margin: 0;
      padding: 2px 0 0 0;
      vertical-align: middle;
    }
    /*li.active {
      padding-top: 6px;
    }*/
  }
}

#ctxnav {
  @include navigation_items;
  margin: -3px 5px 10px 30px;
  padding: 0 4px 3px 4px;
  .ui-widget {
    font-size: 11px;
    /*border-top: 1px solid #AAA;*/
  }

  ul {
    display: inline;
    margin: 0;
    padding: 0px;

    li {
      display: inline;
      list-style-type: none;
      margin: 0;
      padding: 0 0 6px 0;
      vertical-align: middle;

      a, a:visited {
        @include drop-shadow;
      }
    }
  }
}

div.flash-message {
  margin: 10px 5px;
  padding: 3px 3px;

  p {
    margin: 4px 2px;
    padding: 0;

    span.message-icon {
      float: left;
      margin-top: 0.3em;
      margin-right: 0.3em;
      margin-left: 3px;
    }

    a {
      font-style: italic;
      text-decoration: none;
    }

    a:hover {
      color: #5f91ae;
    }
  }
}


#content {
  font-family: "Gputeks Regular";
  margin-top: 6px;
  padding: 4px 2px;

  input.ui-button { font-family: "Gputeks Bold"; }

  form {

    div.formbox.error {
      border-color: red;
    }

    div.actions.error {
      border-left-color: red;
      border-right-color: red;
      border-bottom-color: red;
    }

    div.formbox {
      margin: 0;
      border: 1px solid #AAAAAA;
      border-bottom: none;
      padding-bottom: 5px;

      table.rpxnow {
        width: 100%;
        height: 250px;

        iframe {
          width: 400px;
          height: 240px;
        }
      }

      iframe {
        width: 400px;
        height: 240px;
      }

    }

    h3 {
      font-family: "Gputeks Bold";
      padding: 3px 3px 3px 10px;
      text-shadow: 0 1px 1px #ccc;
      margin: 4px;
      color: #444;
    }

    fieldset.profile-photo {
      float: left;
    }

    fieldset {
      margin-left: 10px;
      margin-right: 20px;
      border: 1px solid #D3D3D3;

      legend {
        padding-left: 5px;
        padding-right: 5px;

        label {
          margin: 0;
          padding: 0;
        }
      }
    }

    input, select { padding: 0.4em 1.0em; }
    input.ui-button { padding: 0.2em 0.4em; }

    input.error {
      border-color: #ff0000;
    }

    p.description {
      font-style: italic;
      padding: 0 10px;
    }

    span.help {
      font-style: italic;
      font-size: 12px;
    }

    span.error {
      color: #ff0000;
      padding-top: 2px;
      font-size: 14px;
      vertical-align: middle;
    }

    ul.multi-checkbox {
      list-style-type: none;
      padding-left: 10px;
    }

    ul.errors {
      margin-top: 1px;
      li {
        color: #e82828;
        font-style: italic;
        font-size: 14px;
      }
    }

    div.actions {
      margin: 0;
      margin-top: -1px;
      padding: 3px 3px;

      .ui-button.sensible {
        color: #ff0000;
        text-shadow: 1px 1px 1px #AAAAAA;
      }

    }
  }
}

div.pagination {
  text-align: center;
  /*padding: 5px 0 5px 0;
  text-align: center;
  strong, a {
    margin: 0 2px;
    padding: 2px 4px 2px 4px;
    text-decoration: none;
  }
  a:hover {
    background-color: #FFFDFC;
  }*/
  span.ellipsis {
    padding: 2px 4px 2px 4px;
  }
}

table.listing {
  padding: 0 10px;
  width: 100%;

  td, th {
    vertical-align: middle;
    padding: 2px 5px;
  }
  tr.even { background-color: #c9e5ee; }

  th.small, td.small {
    width: 1%;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
  }
  td.center {
    text-align: center;
  }
  td.actions {
    padding: 0px 6px;
    white-space: nowrap;
    a { padding: 7px 0px; }
  }
}
