/*a, a:visited, .ui-widget-content a, .ui-widget-header a, .ui-widget-header a:visited {
  color: #2e6e9e;
}*/

#nav.ui-buttonset .ui-button, #ctxnav.ui-buttonset .ui-button {
  text-shadow: 1px 1px 4px #222;
}

a:hover, .ui-state-default a:hover {
  color: #5f91ae;
}

#nav, #ctxnav, #account-nav {
   a, a:visited { color: #2e6e9e; }
}

#nav, #ctxnav {
  a.active {
    background: url("ext/redmond/images/ui-bg_inset-hard_100_f5f8f9_1x100.png") repeat-x scroll 50% 50% #F5F8F9;
  }
  a.admin, a.admin:visited {
    color: #d03620;
  }
}

/*#ctxnav {
  a.active { border-top: 1px solid #4297D7; }
  .ui-widget { border-top: 1px solid #4297D7; }
}*/

#footer { color: #000; }

table.listing {
  tr.even { background: url("ext/redmond/images/ui-bg_inset-hard_100_f5f8f9_1x100.png") repeat-x scroll 50% 0% #F5F8F9; }
}
